<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
body {
	FONT-SIZE: 9pt;
	margin-left:0px;
	margin-top:0px;	
	SCROLLBAR-FACE-COLOR: #7BB307; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #fcfcfc; COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #ececec;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #ececec;
	SCROLLBAR-DARKSHADOW-COLOR: #999966;
	background-color: #7BB307;

}
td {
	font-size: 9pt;	line-height:150%;
}
a:hover {
	font-size: 9pt;	color: #FF0000;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #3C404D;
}
.btn_bg {
	background-image:url(../images/btn_bg.jpg); border:#436E9B thin 1px;
	width:64px;
	height:23px;padding:4px;
	color:#FFFFFF;
}
input {
	font-family: "ו";
	font-size: 12px;
	color: #333333;
	border: 1px solid #999999;
	height:20px;
}

-->